VITE_FIREBASE_API_KEY=isi_api_key_dari_firebase
VITE_FIREBASE_AUTH_DOMAIN=iatf-16949-qms.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=iatf-16949-qms
VITE_FIREBASE_STORAGE_BUCKET=iatf-16949-qms.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=isi_messaging_sender_id
VITE_FIREBASE_APP_ID=isi_app_id
